.none {
    display: none!important;
}

.theme {
    height: 500px;
    background-color: rgba(95, 158, 160, 0.53);
}

/*==========    общие настройки стилей страницы ============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 16px;
    color: rgba(33, 56, 66, 0.6);
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.more-link {
    width: 200px;
    display: flex;
    align-items: flex-start;
    font-family: 'Poppins-SemiBold', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #D4D6D4;
    transition: all 0.3s ease;
}

.more-link--span {
    border-bottom: 1.3px solid transparent;
    padding-left: 5px;
    transition: border-bottom-color 0.3s ease;
}

.more-link:hover {
    color: #FFD723;
}

.more-link:hover .more-link--span {
    border-bottom-color: #FFD723;
}

h2 {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 36px;
    line-height: 46px;
    color: #4D533C;
}

/*===   <!--    hero section    --> ===*/
.hero {
    position: relative;
    background-image: -webkit-image-set(url("../images/hero-bg-img.jpg") 1x, url("../images/hero-bg-img@2x.jpg") 2x);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px 0 24px 0;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    color: #ffffff;
    padding: 97px 0 210px 0;
    max-width: 616px;
}

.hero__text-span {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 22px;
}

h1.hero__title {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 60px;
    line-height: 74px;
    margin-bottom: 24px;
}

.hero__desc {
    max-width: 540px;
    line-height: 26px;
    margin-bottom: 45px;
}

.hero__link {
    color: #FFD723;
    width: 125px;
}

.hero__link--span {
    transition: border-bottom-color 0.3s ease;
}

.hero__link:hover .hero__link--span {
    border-bottom-color: #FFD723;
}

/*скрытая навигация /бургер меню/ по ховеру*/
.header__navigation {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgba(68, 74, 52, 0.95);
    position: absolute;
    z-index: 100;
    padding: 30px !important;
    border-radius: 10px;
    top: 45px;
    right: 0;
}

.header__navigation-menu {
    width: 600px;
}

.header__navigation-menu::after {
    display: none!important;
}
/*  // скрытая навигация /бургер меню/ по ховеру*/

.fa-solid {
    font-size: 13px;
    padding-top: 2.45px;
}

.brands-block {
    position: absolute;
    bottom: -113px;
    right: 0;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 2px;
    background-color: #ffffff;
    width: 1276px;
    padding: 60px 166px 54px 65px;
}

.brands__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands__item {
    transition: all 0.3s ease;
}

.brands__item:hover {
    margin-top: -7px;
}


/*===   <!--    about section    --> ===*/
.about__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
    border-bottom: 1px solid rgba(33, 56, 66, 0.15);
}

.about__content {
    max-width: 475px;
    padding-top: 244px;
}

.about__text-span {
    display: inline-block;
    margin-bottom: 29px;
}

.about__title {
    margin-bottom: 35px;
    text-transform: capitalize;
}

.about__title span {
    position: relative;
    z-index: 1;
}

.about__title span::before {
    position: absolute;
    top: 9px;
    left: -7px;
    z-index: -1;
    display: block;
    content: " ";
    width: 240px;
    height: 47px;
    background: rgba(255, 215, 35, 0.1);
}

.about__desc {
    margin-bottom: 42px;
}

.about__quote-label {
    width: 474px;
    height: 644px;
    background: #FFFFFF;
    padding: 244px 40px 60px 40px;
    box-shadow: 0 100px 100px rgba(0, 0, 0, 0.145947);
}

.quote-label__text {
    font-family: 'Poppins-Italic', sans-serif;
    font-size: 24px;
    line-height: 40px;
    color: #4D533C;
    margin-bottom: 50px;
}

.quote-label__avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: grey;
    box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
    /*background-image: url("../images/Gen-Rodriquez-avatar.jpg");*/
    /*background-size: contain;*/
}

.quote-label__avatar img {
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.quote-label__author {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.quote-label__name {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 22px;
    line-height: 33px;
    color: #4D533C;
    margin-bottom: 6px;
}

.quote-label__status {
    font-family: 'Poppins-Regular', sans-serif;
    line-height: 24px;
    color: #152934;
}

/*===   <!--    cases section    --> ===*/
.cases {
    padding-top: 150px;
}

.cases__intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 104px;
}

.cases__title {
    width: 335px;
}

.cases__desc {
    width: 500px;
}

/*блок cases*/
.cases__main-block--left {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 165px;
    margin-right: 15px;
}

.cases__main-block--right {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 165px;
    margin-left: 15px;
}

.cases__main-block {
    display: flex;
    align-items: center;
    column-gap: 96px;
}

.cases__main-img-content {
    position: relative;
}

.cases__main-content {
    max-width: 421px;
}

.cases__title {
    margin-bottom: 24px;
    text-transform: capitalize;
}

.cases__desc-block {
    margin-bottom: 90px;
}

.cases__desc-text + .cases__desc-text {
    margin-top: 40px;
}

/*карточка рядом с картинкой*/
.cases__main-label {
    position: absolute;
    width: 453px;
    background: #FFFFFF;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 8px;
    padding: 30px;
}

.cases__main-label-left {
    bottom: -65px;
    right: -40px;
}

.cases__main-label-right {
    bottom: -35px;
    left: -68px;
}

.cases__main-label-bottom {
    bottom: -40px;
    right: -41px;
}

.cases-label__text {
    font-family: 'Poppins-Italic', sans-serif;
    line-height: 26px;
    color: #4D533C;
    margin-bottom: 24px;
}

.cases-label__author {
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.cases-label__avatar {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: grey;
    box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
}

.cases-label__avatar img {
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.cases-label__name {
    font-family: 'Poppins-Bold', sans-serif;
    line-height: 24px;
    color: #4D533C;
    margin-bottom: 4px;
}

.cases-label__status {
    font-size: 14px;
    line-height: 21px;
    color: #152934;
}

.cases__container-bottom {
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(33, 56, 66, 0.15);
}

/*===   <!--    portfolio section    --> ===*/
.portfolio {
    padding-top: 149px;
    padding-bottom: 322px;
}

.portfolio__title {
    max-width: 607px;
    margin-bottom: 60px;
}

/*карточка портфолио*/
.portfolio__items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.portfolio__item {
    width: 255px;
    padding: 27px 30px 37px 30px;
}

.portfolio__item-title {
    width: 183px;
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
    color: #4D533C;
    margin-bottom: 20px;
}

.portfolio__item-text {
    width: 194px;
    height: 104px;
    font-size: 14px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
    margin-bottom: 30px;
}

/*===   <!--    footer section    --> ===*/
.footer {
    position: relative;
    padding-top: 322px;
    background-image: -webkit-image-set(url("../images/footer-bg-img.jpg") 1x, url("../images/footer-bg-img@2x.jpg") 2x);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__contacts {
    display: flex;
    align-items: center;
    column-gap: 128px;
    padding-bottom: 52px;
}

.footer__contacts-title {
    line-height: 40px;
    color: #B6C197;
}

.footer__contacts-text {
    font-family: 'Poppins-Bold', sans-serif;
    line-height: 40px;
    color: #FFFFFF;
}

.navigation {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 60px 0;
    border-top: 1px solid #5D6544;
    border-bottom: 1px solid #5D6544;
}

.navigation-menu {
    position: relative;
    display: flex;
    width: 678px;
    justify-content: space-between;
}

.navigation-menu::after {
    content: ' ';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 210px;
    background: #5D6544;
}

.navigation-menu--block {
    width: 160px
}

h4 {
    font-family: 'Poppins-SemiBold', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
}

.navigation-menu--title {
    margin-bottom: 21px;
}

.navigation-menu--item + .navigation-menu--item {
    margin-top: 15px;
}

.navigation-menu--link {
    color: #B6C197;
    transition: color 0.3s ease;
}

.navigation-menu--link:hover {
    color: #a7ca4f;
    text-decoration: underline;
}

.navigation-socials--title {
    margin-bottom: 23px;
}

.navigation-socials--text {
    line-height: 26px;
    color: #B6C197;
    margin-bottom: 23px;
    width: 270px;
}

.navigation-socials--mail {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 24px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.navigation-socials--icons {
    display: flex;
    align-items: center;
    column-gap: 11px;
}

.socials--icons-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: #444A34;

    transition: all 0.3s ease;
}

.socials--icons-glyph {
    font-size: 18px;
    color: #5E6648;
    transition: all 0.3s ease;
}

.socials--icons-icon:hover {
    background-color: #FFD723;
}

.socials--icons-icon:hover .socials--icons-glyph {
    color: #ffffff;
}

.footer__bottom {
    padding: 24px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__bottom-link {
    font-size: 14px;
    line-height: 21px;
    color: #B5C096;
    opacity: .6;

    transition: opacity 0.3s ease;
}

.footer__bottom-link:hover {
    opacity: 1;
}

.footer__label {
    position: absolute;
    top: -172px;
    left: 0;
    width: 1275px;
    height: 362px;
    padding: 70px 0 70px 164px;
    background: #FAFAFA;
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
}

.footer__label-title {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 60px;
    line-height: 74px;
    color: #4D533C;
    max-width: 822px;
    margin-bottom: 50px;
}

.footer__label-link {
    text-transform: uppercase;
}


.block-text-span {
    font-size: 14px;
    line-height: 21px;
    color: rgba(77, 83, 60, 0.9);
}

.block-desc {
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
}








